# Data files — do not commit raw or processed data to GitHub
*.tif
*.geotiff
*.gpkg
*.shp
*.dbf
*.shx
*.prj
*.csv
*.xlsx
*.parquet

# Input/Output data
data/inputs/
data/outputs/

# Python
.ipynb_checkpoints
.idea/
__pycache__/
*.pyc
*.egg-info/
